[submodule "hardware/kicad/ESP32_SensorScope/libraries/digikey"]
	path = hardware/kicad/ESP32_SensorScope/libraries/digikey
	url = https://github.com/Digi-Key/digikey-kicad-library.git
[submodule "hardware/kicad/ESP32_SensorScope/libraries/espressif"]
	path = hardware/kicad/ESP32_SensorScope/libraries/espressif
	url = https://github.com/espressif/kicad-libraries.git
